<template>
  <div class="home">
    <img alt="Vue logo" :src="vueLogo" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "Home",
  data: () => {
    return {
      vueLogo: require("../assets/logo.png")
    };
  },
  components: {
    HelloWorld
  }
};
</script>
